.question {
    margin: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.content {
    align-items: center;
    justify-content: space-evenly;
    display: flex;
}

.campus img{
    height: auto;
    width: 500px;
}

.campus {transition: 0.5s ease}

.campus:hover {transform: scale(1.1)}

.campus-name, .campus-img {
    align-items: center;
    justify-content: center;
    display: flex;
}

@media (max-width: 1113px) {
    .campus img{width: 400px}
}

@media (max-width: 883px) {
    .campus img{width: 300px}
}

@media (max-width: 669px) {
    .campus img{width: 200px}
}

@media (max-width: 451px) {
    .campus img{width: 200px}
    .content {display: block}
}