.button, .filter-input input {
    padding: 6px 16px 6px 16px;
    font-size: 1.5em;
    margin: 10px;
    border: solid transparent;
    border-radius: 25px;
    color: var(--primary-color);
}

.button-wrapper {margin: 20px}

.button {text-decoration: none}
.button-wrapper:hover {
    transform: scale(1.1);
    transition: ease-in-out 0.2s;
}

#sg-long, #kampar {
    color:var(--primary-color);
    background-color:  var(--secondary-color);
    border: 3px solid var(--primary-color);
}

.active-campus {
    color: var(--secondary-color) !important;
    background-color:var(--primary-color) !important;
    border: 3px solid var(--primary-color) !important;
}

.filter-input input {border: 3px solid var(--primary-color) !important}

.filter-input input:focus {outline: none}

/* content */

.price, .available, .tenants, .address {
    font-weight: 900;
    font-size: 1.15em;
}

.infos {
    border-top: 3px solid var(--primary-color);
    align-items: center;
    justify-content: space-evenly;
    display: flex;
}

.infos:hover {background-color: azure}

.info {margin: 16px}

.address-info {margin-bottom: 25px}

.vital-info {width: 75%}

.less-vital-info {width: 20%}

@media (max-width: 771px) and (min-width: 370px) {
    .vital-info {width: 75%}
    .less-vital-info {width: 40%}
}

@media (max-width: 370px) {
    .infos {display: block}
    .vital-info, .less-vital-info {width: 100%}
    .info {text-align: center}
    .accomodation-infos {
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        display: inline-flex;
        margin: 0;
        padding: 0;
    }
    .accomodation-info {width: 50%}
    .title, .filter-input, .button {font-size: 0.85em}
    .tenants, .price {font-size: 0.9em}
}

@media (max-width: 311px) {
    .tenants, .price, .filter-input, .button {font-size: 0.7em}
}