* {
    letter-spacing: 1px;
    font-size: small;
    font-family: 'Montserrat', serif;
}

* {
    scrollbar-width: thin;
    scrollbar-color: gray #000d0d;
}

*::-webkit-scrollbar {width: 7px}
*::-webkit-scrollbar-track {background: #000d0d}
*::-webkit-scrollbar-thumb {background-color: gray}

:root {
    --primary-color:#020202;
    --secondary-color:#fdfefe;
    --red-color: #cc0f39;
    --green-color: #0ffbf9;
    --dime-yellow-color: #cdc764;
}

body {background-color: var(--secondary-color)}

.header {margin-bottom: 20px}

.title, .logo {
    align-items: center;
    justify-content: center;
    display: flex;
}

.title h2 {
    border: 3px solid var(--primary-color);
    padding: 6px 16px 6px 16px;
    border-radius: 25px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
}