<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="./css/style.css">
      <link rel="stylesheet" href="./css/Montserrat/stylesheet.css">
      <link rel="stylesheet" href="./css/footer.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.runtime.js" charset="utf-8" defer></script>
      <script src="/js/roomTemplate.js" charset="utf-8" defer></script>
      <script src="/js/filter.js" charset="utf-8" defer></script>
      <title>UTAR ROOM RENTAL</title>
  </head>
  <body>
    {{{body}}}
    <div id="footer">
        <div class="social-link">
            {{#each socialLinks}}
                <a href="{{link}}" rel="noreferrer" class="{{class}}"></a>
            {{/each}}
        </div>
    </div>
  </body>
</html>