<link rel="stylesheet" href="./css/index.css">
<div class="container">
    <div class="header">
        <div class="logo">
            <img src="./img/index.jpg" alt="">
        </div>
        <div class="toggle-wrapper">
            <img id="toggle-theme" src="../img/darkThemeIcon/light.jpg" alt="toggle-icon">
        </div>
    </div>
    <div class="welcome-msg">
        <div class="msg">
            <p>Welcome</p>
            <p>To</p>
            <p>UTAR</p>
            <p>Accommodation List</p>
        </div>
    </div>
    <div class="content">
        <div class="campus" id="kampar">
            <div class="campus-name"><a class="word-link" id="kampar-link" href="room?campus=KP">Kampar</a></div>
            <div class="campus-img"><a href="room?campus=KP"><img src="./img/kampar.jpg" alt=""></a></div>
        </div>
        <div class="campus" id="sglong">
            <div class="campus-name"><a class="word-link" id="sglong-link" href="room?campus=SL">Sungai Long</a></div>
            <div class="campus-img"><a href="room?campus=SL"><img src="./img/sglong.jpg" alt=""></a></div>
        </div>
    </div>
</div>