<div class="container">
    <div class="header">
        <div class="logo">
            <a href="https://www.utar.edu.my/" target="_blank" rel="noopener noreferrer"><img src="img/index.jpg" alt=""></a>
        </div>
        <div class="toggle-wrapper">
            <i id="toggle-theme" class="fas fa-sun" aria-hidden="true"></i>
        </div>
    </div>
    <div class="welcome-msg">
        <div class="msg">
            <p>Welcome</p>
            <p>To</p>
            <p>UTAR</p>
            <p>Accommodation List</p>
        </div>
    </div>
    <div class="content">
        <div class="campus" id="kampar">
            <div class="campus-name"><a class="word-link" id="kampar-link" href="room?campus=KP">Kampar</a></div>
            <div class="campus-img"><a href="room?campus=KP"><img src="img/kampar.jpg" alt=""></a></div>
        </div>
        <div class="campus" id="sglong">
            <div class="campus-name"><a class="word-link" id="sglong-link" href="room?campus=SL">Sungai Long</a></div>
            <div class="campus-img"><a href="room?campus=SL"><img src="img/sglong.jpg" alt=""></a></div>
        </div>
    </div>
</div>