<style>
    #no-rooms {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #no-rooms > p {
        font-size: 2em;
        color: var(--secondary-color);
    }
    #download-txt-button{
        border: 3px solid #4CAF50;
        background-color: #4CAF50;
        color: var(--button-text-color);
    }
    #saved-button {
        border: 2px solid var(--border-color);
        color: var(--border-color);
    }
    .save-room-btn {background-color: #cc3300}
</style>
<div class="container">
    <div class="header">
        <div class="logo">
            <a href="https://www.utar.edu.my/" target="_blank" rel="noopener noreferrer"><img src="img/index.jpg" alt=""></a>
        </div>
        <div class="toggle-wrapper">
            <i id="toggle-theme" class="fas fa-sun" aria-hidden="true"></i>
        </div>
        <div class="filter-wrapper">
            <div class="button-wrapper">
                 <a href="room?campus=KP" class="button" id="kampar">Kampar({{set.kpRoomCount}})</a>
            </div>
            <div class="button-wrapper">
                <a href="room?campus=SL" class="button" id="sg-long">Sg Long({{set.slRoomCount}})</a>
            </div>
        </div>
        <div class="filter-wrapper" id="non-campus-filter">
            <div id="saved">
                <a href="saved" class="button non-campus" id="saved-button">Saved</a>
            </div>
        </div>
        <div class="download-wrapper">
            <button class="button" id="download-txt-button">Download Saved Data</button>
        </div>
    </div>
    <div class="content" id="infos-content"><div id="no-rooms"><p>--No Room Saved--</p></div></div>
    <div id="waitingBackground"><div class="waiting-content"><div class="loader"></div></div></div>
</div>